<div class="jumbotron">
  <div class="container text-center">
    <h1>Contact</h1>

      <p class="sub">If you have any questions that need answering or any issues that need resolving or you just want to say 'Hey!'</p>

      <button type="button" class="btn btn-lg"><%= link_to "Send a message", new_user_message_path(5) %></button>


  </div>
</div>
