<div class="jumbotron">
  <div class="container text-center">
    <h1 class="outline">Help</h1>

      <p class="sub">A quick how-to primer for first time users</p>
      <button type="button" class="btn btn-lg"><%= link_to "Sign up now!", new_user_registration_path %></button>
      <button type="button" class="btn btn-lg"><%= link_to "Learn more", info_path %></button>
  </div>
</div>

