<div class="jumbotron">
  <div class="container text-center">
    <h1 class="outline">Learn more</h1>

      <h2 class="sub">How Chombo works:</h2>
      <p>Step 1</p>
      <p>Step 2</p>
  </div>
</div>

p>Chombo links neighbors and neighborhoods to build a massive, peer-to-peer tool lending library</p>
