<div class="jumbotron">
  <div class="container text-center">
    <h1 class="outline">What do you want to build today?</h1>
      <p class="sub">Sign up now to begin sharing and lending tools</p>
      <button type="button" class="btn btn-lg"><%= link_to "Sign up now!", new_user_registration_path %></button>
      <button type="button" class="btn btn-lg"><%= link_to "Learn more" %></button>
  </div>
</div>

