<div class="jumbotron landing">
  <div class="container text-center">
    <h1>What do you want to build today?</h1>

      <p class="sub">Sign up now to begin sharing and lending tools</p>
      <button type="button" class="btn btn-lg"><%= link_to "Sign up now!", new_user_registration_path %></button>
      <button type="button" class="btn btn-lg"><%= link_to "Learn more", info_path %></button>
  </div>
</div>

