    @import 'bootstrap-sprockets';
    @import 'bootstrap';
    require bootstrap-datepicker3
    require bootstrap-datetimepicker

html {
  font-family: 'Lato', sans-serif;
}

.jumbotron {

    margin-bottom: 0px;
    background-image: url(http://i.huffpost.com/gen/2442876/thumbs/o-DIY-HOME-IMPROVEMENT-facebook.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffbff;
    height: 800px;
    margin-top: -75px;


}

.outline {
  -webkit-text-stroke: 1.5px gray;
}

.sub {

  color: gray;
}

.navbar-brand {
  font-style: bold;
  color: black;
  margin-top: -5px;
}

.space > li{
  padding-left:70px;
  padding-right:70px;

}

.profile {
  margin-left:80px;
}

.row .thumbnail {
    border-color: #EEEEEE;
    border-width: 2px;
    background: transparent;


}

h1, h2, h3, h4, p {
  color: #1A1A1A;
}

.pad {
  padding-left: 20px;
}


 .formbox {
  background: #a4a4a4;
 }

.body {


}

.pad2 {
  padding-bottom: 20px;
}


